@charset "utf-8";
/* CSS Document */

*{
	margin:0;
	padding:0;
}

.container{
	width:945px;
}

.header,
.content,
.footer{
	width:100%;
	float:left;
}

.header{
	background:url(../images/header_bg_small.png) no-repeat;
	height:70px;
}

.header a{
	color:#FFF;
}

.header .page_title{
	font-family:"微软雅黑";
	font-size:20px;
	position:relative;
	left:80px;
	top:10px;
}

.page_title a{
	background-color:rgb(85,85,85);
	padding:0 6px 0 6px;
	color:#FFF;
	text-decoration:none;
}

.header .login_info{
	font-family:"微软雅黑";
	font-size:12px;
	position:relative;
	float:right;
}

.header .login_info span{
	text-align:center;
	display:inline-block;
	background-color:rgb(85,85,85);
	padding:5px 8px 0 8px;
	height:25px;
	
}

.filter .filter_item{
	font-family:"微软雅黑";
	font-size:13px;
	display:block;
	padding-left:150px;
}

.filter,.subcontent{
	float:left;
}

.filter{
	width:25%;
	overflow:hidden;
}

.subcontent{
	width:75%;
	overflow:hidden;
}

.block_title{
	font-family:"微软雅黑";
	font-size:18px;
	display:block;
	padding:5px;
	border-left:#6AB5FF solid 5px;
}

