@charset "utf-8";
/* CSS Document */

.search div{
	display:inline-block;
	height:40px;
	background:rgb(0,187,94);
	width:100%;
}

.search input{
	position:relative;
	top:0px;
}

.search i{
	display:inline-block;
	width:120px;
	height:40px;
	color:#FFF;
	background:rgb(65,65,65);
	text-align:center;
}