@charset "utf-8";
/* CSS Document */

*{
	padding:0;
	margin:0;
}

.nav_horizontal ul{
	height:35px;
	width:inherit;
	list-style:none;
	background-color:rgb(65,65,65);
	padding-right:20px;
	padding-left:10px;
	overflow:hidden;
}

.nav_horizontal li{
	display:block;
	line-height:34px;
	float:left;
	height:35px;
	width:45px;
	overflow:hidden;
}

.nav_horizontal .right_li{
	float:right;
}

.nav_horizontal a{
	display:inline-block;
	height:inherit;
	width:100px;
	text-decoration:none;
	font-family:"微软雅黑", "宋体";
	padding: 0px 10px 0px 10px;
	color:rgba(255,255,255,1.00);
}

.nav_horizontal i{
	display:inline-block;
	padding:5px;
}

.nav_horizontal a:hover{
	background-color:rgba(98,95,95,1.00);
	width:inherit;
}

.nav_horizontal .drop{
	position:absolute;
	display:block;
	height:0;
	overflow:hidden;
	color:rgba(255,255,255,1.00);
	padding:0px 20px 0px 10px;
}

.nav_horizontal .green{
	border-left:rgba(95,207,56,1.00) 5px solid;
}

.nav_horizontal .red{
	background-color:
}

.nav_horizontal .orange{
	background:
}

.nav_horizontal .pink{
	background:
}

.nav_horizontal .drop{
	display:block;
	background-color:rgba(65,65,65,0.7);
	font-family:"微软雅黑", "宋体";
}
/*
li:hover{
	width:auto;
}
*/
.nav_horizontal li:hover .drop{
	height:auto;
	padding:5px 20px 5px 5px;
}

.nav_horizontal .cata{
	width:300px;
	border-left:rgba(244,41,44,1.00) solid 5px;
}

.nav_horizontal .cata .col{
	position:relative;
	float:left;
	width:90px;
}

.nav_horizontal .login_info{
	border-left:rgba(248,172,31,1.00) solid 5px;
}

.nav_horizontal .cata a{
	display:block;
	width:85px;
	height:20px;
	padding:3px;
	line-height:20px;
	font-size:13px;
	margin-left:3px;
}

.nav_horizontal .cata a:hover{
	background-color:rgba(244,41,44,0.7);
}

.nav_horizontal li > a > i{
	margin-right:12px;
}

.nav_horizontal .drop input[type="text"]{
	display:inline-block;
	height:25px;
	border:none;
	font:"微软雅黑", "宋体" 18px;
}

.nav_horizontal .drop .btn{
	display:inline-block;
	border:none;
	padding:5px;
	height:25px;
	background-color:rgba(67,166,247,0.80);
}

.nav_horizontal .btn:hover{
	background-color:rgba(33,166,251,1.00);
	color:rgba(255,255,255,1.00);
}

.nav_horizontal .find{
	border-left:rgba(248,242,86,1.00) 5px solid;
}

.nav_horizontal .find span{
	font-size:12px;
}
